/*@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);*/
@import url(https://fonts.googleapis.com/css?family=Lato:300);

#login-form{
    display: none;
}
#credPanel{
    position: absolute;
    left: 0px;
    right: 0px;
}
/** HEADER **/
/* = Header
--------------------------------*/
#header{
  position:relative;
  margin-top:0;
  margin-bottom:2em;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  overflow:hidden;
}
.header-inner{
  min-height:25em;
  padding-top:6em;
}
.head-title{
  font-size:3em;
  color:white;
  text-shadow:0 2px 3px #777;
}
.subhead-title{
  font-size:2em;
  color:white;
  text-shadow:0 2px 3px #777;
  line-height: 1.3em;
}

/* = Buttons
---------------------------------*/
.btn{
  display:inline-block;
  *display:inline;
  zoom:1;
  line-height:normal;
  white-space:nowrap;
  vertical-align:baseline;
  text-align:center;
  cursor:pointer;
  -webkit-user-drag:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.btn::-moz-focus-inner{
  padding:0;
  border:0;
}
.btn{
  font-size:100%;
  *font-size:90%;
  *overflow:visible;
  padding:.5em 1.5em;
  *color:#444;
  border:0 rgba(0,0,0,0);
  text-decoration:none;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  -webkit-font-smoothing:antialiased;
  -webkit-transition:.1s linear -webkit-box-shadow;
  -moz-transition:   .1s linear -moz-box-shadow;
  -o-transition:     .1s linear -o-box-shadow;
  transition:        .1s linear box-shadow;
}
.btn-hover,.btn:hover,.btn:focus{
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
  background-image:-webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));
  background-image:-webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
  background-image:-moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));
  background-image:-ms-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
  background-image:-o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
  background-image:linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}
.btn:focus{outline:0;}
.btn-active,.btn:active{
  -webkit-box-shadow:0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
  -moz-box-shadow:0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
  box-shadow:0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
}
.btn[disabled],.btn-disabled,.btn-disabled:hover,
.btn-disabled:focus,.btn-disabled:active{
  border:0;
  background-image:none;
  filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
  filter:alpha(opacity=40);
  -khtml-opacity:.4;
  -moz-opacity:.4;
  opacity:.4;
  cursor:not-allowed;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}
.btn-hidden{display:none;}
.btn-block{display: block;width: 100%;}
.btn::-moz-focus-inner{
  padding:0;
  border:0;
}



/** GAME CANVAS **/
#game-canvas{
  display: none;
  margin: auto;
}

#register-form
{
    bacground-color:white;
    display: none;
}

/** REGISTER STYLE **/


*{
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
  background:#ffffff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size:15px;
  margin: 0px;
  padding: 0px;
}

h1{
  color:#272c32;
  display:block;
  text-align:center;
  font-size:2em;
  margin:0;
  margin-bottom:25px;

}

form{
  width:400px;
  padding:20px;
  margin:auto;
  background:#fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

fieldset{
  border:0;
  margin:0;
  padding:0;
  position:relative;
}

input[type="text"], input[type="password"]{
  border: 1px solid #dadada;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width:100%;
  padding: 10px;
  color:#272c32;
  margin-bottom:5px;
}

input[type="text"]:focus, input[type="password"]:focus{
  border:1px solid #4cb182;
  outline:0;
}

input[type="button"]{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background:#4cb182;
  border:0;
  padding: 16px 0;
  color:#fff;
  font-weight:800;
  width:100%;
  font-size:1.1em
}

input[type="button"]:hover{
  background:#408F6A;
}

input[type="text"]:after{
  content:'ddd';
  background:#ccc;
  height:40px;
  width:40px;
}

.ph{
   -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  position:absolute;
  right: 6px;
  top: 9px;
  padding: 2px 5px;
  background:#4cb182;
  color:#fff;
  display:none;
}


/* UTILITIES */
.b-turquoise{background:#1ABC9C;}
.b-green-sea{background:#16A085;}
.b-emerland{background:#2ECC71;}
.b-nephritis{background:#27AE60;}
.b-peter-river{background: #3498DB;}
.b-belize-hole{background:#2980B9;}
.b-amethyst{background:#9B59B6;}
.b-wisteria{background:#8E44AD;}
.b-wet-asphalt{background:#34495E;}
.b-midnight-blue{background:#2C3E50;}
.b-sun-flower{background:#F1C40F;}
.b-orange{background:#F39C12;}
.b-carrot{background:#E67E22;}
.b-pumpkin{background:#D35400;}
.b-alizarin{background:#E74C3C;}
.b-pomegranate{background:#C0392B;}
.b-clouds{background:#ECF0F1;}
.b-silver{background:#BDC3C7;}
.b-concrete{background:#95A5A6;}
.b-asbestos{background:#7F8C8D;}

/* = Colors Inspired by  http://flatuicolors.com/
-------------------------------------------*/
.c-turquoise{color:#1ABC9C;}
.c-green-sea{color:#16A085;}
.c-emerland{color:#2ECC71;}
.c-nephritis{color:#27AE60;}
.c-peter-river{color:#3498DB;}
.c-belize-hole{color:#2980B9;}
.c-amethyst{color:#9B59B6;}
.c-wisteria{color:#8E44AD;}
.c-wet-asphalt{color:#34495E;}
.c-midnight-blue{color:#2C3E50;}
.c-sun-flower{color:#F1C40F;}
.c-orange{color:#F39C12;}
.c-carrot{color:#E67E22;}
.c-pumpkin{color:#D35400;}
.c-alizarin{color:#E74C3C;}
.c-pomegranate{color:#C0392B;}
.c-clouds{color:#ECF0F1;}
.c-silver{color:#BDC3C7;}
.c-concrete{color:#95A5A6;}
.c-asbestos{color:#7F8C8D;}


/* = Scrollbar chrome
-------------------------------------------*/
::-webkit-scrollbar { width: 12px;}
::-webkit-scrollbar-track {background: #F3F3F3;}
::-webkit-scrollbar-thumb {background: #3498DB;}

/* = Selection
-------------------------------------------*/
::selection {background: #3CA9E7;color:#ECF0F1;}
::-moz-selection {background: #e74c3c;color:#ECF0F1;}


/* = Tools
-----------------------------------*/
.pd{padding:1em;}
.cn{text-align: center;}
.op{
  filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
  filter:alpha(opacity=80);
  -khtml-opacity:0.8;
  -moz-opacity:0.8;
  opacity:0.8;
}
.sh {
  -webkit-box-shadow: 0 2px 3px #999;
  box-shadow: 0 2px 3px #999;
}
